html, body {
    height: 100%;
    width: 100%;
}

div.quarter{
	width: 45%;
    height: 45%;
    float: left;
    position: absolute;
}

#dashbord{
	position:relative;
	height: 550px;
    width: 900px;
}

#description{
	display: inline-block;
	position:relative;
	top:550;
}

#line-chart-with-range{
	left:50%;
}

#heatmap{
	left:50%;
	bottom:5%;
}

#bar-chart{
	bottom:5%;
}

div.dc-chart {
    display:block;
    margin:0 auto;
}